/* Style global */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;

  color: #333;
  
}

header {
  background: #0077b6;
  color: white;
  padding: 20px 0  ;
  text-align: center;
  border-bottom: 5px solid #023e8a;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  
}

nav a:hover {
  background: #023e8a;
}

/* Main section */
main {
  background: #0077b6;
  /*background-image: url("../images/arriere.jpg");*/
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

main #img {
  border-radius: 10px; /* Arrondit les coins de l'image */
  object-fit: cover;
  width: 150px; /* Largeur de l'image */
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optionnel : ajoute une ombre pour un bel effet */
  
}


section {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
  color: #0077b6;
  margin-bottom: 15px;
}

section p {
  font-size: 1.1rem;
  line-height: 1.8;
}


/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #0077b6;
  color: white;
  border-top: 5px solid #023e8a;
}

footer p {
  margin: 5px 0;
}
